<!-- views/partials/header.ejs -->

<% if (userId) { %>
  <p>Howdy, <%=userEmail%></p>
  <p><a href='/urls'>My Links</a></p>
  <form method="post" action='/logout'>
    <button>logout</button>
  </form>
<% } else { %>
  <pcenter;'><a href='./login'>Sign In</a> or <a href='./register'>Register</a> </p>
<% } %>
