<!DOCTYPE html>
<html lang="en">
  <head></head>
<% include partials/_header %>
  <body style="text-align: center;">

    <h2>Register</h2>

    <form action="/register" method="POST"">

      <label for="longURL">E-mail</label><br>
        <input id="email" type="email" name="email" placeholder="your@email.com" style="width: 300px"><br>

      <label for="longURL">Password</label><br>
        <input id="password" type="password" name="password" placeholder="Password" style="width: 300px"><br>
        <br>
      <button style="width: 300px">Register</button>
    </form>
  </body>
</html>