<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="../../style/style.css" type="text/css">
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <div class="display">
    Short URL: <%=shortURL%>
      <form method='post' action='/urls/<%=shortURL%>/update'>
        <input id="longURL" type="text" name="longURL" value='<%=userData[shortURL]%>'>
        <% if (userId === undefined) { %>
          <button id="Btn" disabled>Update</button>
        <% } else { %>
          <button id="Btn">Update</button>
        <% } %>
      </form>
    </div>
</body>
</html>