<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="./style/style.css" type="text/css">
</head>
<body>
  <header>
  <% include partials/_header %>
  </header>
  <h2>Register</h2>
    <form action="/register" method="POST"">
      <label for="email">E-mail</label><br>
        <input id="email" type="email" name="email" placeholder="your@email.com"><br>
      <label for="password">Password</label><br>
        <input id="password" type="password" name="password" placeholder="Password"><br>
        <br>
      <button>Register</button>
    </form>
</body>
</html>